<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TC.BaseConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TC.BaseConverter.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ApplyChrome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupDigits" serializeAs="String">
                <value>True</value>
            </setting>
        </TC.BaseConverter.Properties.Settings>
    </userSettings>
</configuration>